<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>984117236759-67g7j72lgmgfk2ktftb4tktr4gja2p1q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA4VM7gXdo-R2NSbjYe2O_s1N84hdsEdxs</string>
	<key>GCM_SENDER_ID</key>
	<string>984117236759</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.prestonesto.dev</string>
	<key>PROJECT_ID</key>
	<string>prestonesto-af804</string>
	<key>STORAGE_BUCKET</key>
	<string>prestonesto-af804.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:984117236759:ios:fb6cebcb9aef0b9d223852</string>
</dict>
</plist>